<!DOCTYPE html>
html(lang="es")
head
    meta(charset="UTF-8")
    title Celeste Gallarato - PSICOPEDAGOGA
    meta(http-equiv="X-UA-Compatible", content="IE=Edge")
    meta(name="viewport", content="width=device-width", initial-scale="1")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    link(rel="stylesheet", href="/css/materialize.min.css", media="screen,projection")
    link(rel="stylesheet", href="/css/style.css")
    
    body
        include menu.pug
        div.parallax-container
            div.parallax 
                img(src="/img/parallax1.jpg")
        a(name="inicio", class="center pink-text text-darken-4 tSection"): h1 Atención Psicopedagógica
        div.container.teal.lighten-3
            blockquote Creamos un espacio para la evaluación, orientación y optimización de los procesos de enseñanza-aprendizaje en todas las etapas de la vida. </br> Realizamos diagnóstico y tratamiento de los problemas de aprendizaje.
        </br>
        div.parallax-container
            div.parallax
                img(src="/img/parallax2.jpg")
        a(name="servicio", class="center pink-text text-darken-4 tSection"): h1 Servicios
        div.container.teal.lighten-3
            blockquote Diagnóstico y tratamiento de problemas de aprendizaje. </br> Orientación escolar e integración. </br> Orientación vocacional. </br></br> Apoyo Pedagógico. </br> Asesoramiento y acompañamiento.
        </br>
        div.parallax-container
            div.parallax
                img(src="/img/parallax3.jpg")
        a(name="contacto", class="center pink-text text-darken-4 tSection"): h1 Contacto
        div.container
            i.material-icons.menu.cyan-text.text-darken-1.center.pieI person
            a.black-text.pieT Psicopedagoga </br></br>

            i.material-icons.menu.cyan-text.text-darken-1.center.pieI map
            a.black-text.pieT Av. Paraguay 456 </br></br>

            i.material-icons.menu.cyan-text.text-darken-1.center.pieI facebook
            a.black-text.pieT Celeste Gallarato </br></br>

            i.material-icons.menu.cyan-text.text-darken-1.center.pieI local_phone
            a.black-text.pieT 3624791320 </br></br>
        script(src="/js/jquery.min.js")
        script(src="/js/materialize.min.js")
        script(src="/js/javascript.js")