div.navbar-fixed
    nav.white
        div.nav-wrapper
            a(href="#!").brand-logo.center.pink-text.text-darken-4.titulo Kine Kids
            a(href="#" data-target="mobile-demo").sidenav-trigger: i.material-icons.menu.cyan-text.text-darken-3 menu
            ul.left.hide-on-med-and-down
                li: a(href="#inicio").sTit.cyan-text.text-darken-3 Inicio
                li: a(href="#servicio").sTit.cyan-text.text-darken-3 Servicios
                li: a(href="#contacto").sTit.cyan-text.text-darken-3 Contacto
    ul(id="mobile-demo").sidenav
        li: a(href="#inicio").sTit.cyan-text.text-darken-3 Inicio
        li: a(href="#servicio").sTit.cyan-text.text-darken-3 Servicios
        li: a(href="#contacto").sTit.cyan-text.text-darken-3 Contacto